<div class="container header__container d-flex justify-content-between">
    <img src="./assets/img/Logo.png" alt="" class="logo" />
    <div class="header__col">
        <div class="header__search">
            <div class="d-flex">
                <input type="text" class="header__search-input" />
                <div class="header__search-icon">
                    <img
                        src="./assets/img/icon/search_icon.svg"
                        alt=""
                        class=""
                    />
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="navbar__list d-flex">
                <!-- item 1 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Home</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                </li>
                <!-- item 2 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Category</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                    <div class="navbar__dropdown d-none">
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Men Fashion</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Women Fashion</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Kids Fashion</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Baby Fashion</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Mobile Device</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Computer Device</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Beauty Products</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item">Furniture</a>
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Smart Watch</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Modern Shoes</a
                        >
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item">Jewelry</a>
                        <div class="navbar__dropdown-br"></div>
                        <a href="#" class="navbar__dropdown-item"
                            >Home Products</a
                        >
                    </div>
                </li>
                <!-- item 3 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Brand</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                </li>
                <!-- item 4 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Products</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                </li>
                <!-- item 5 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">About</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                </li>
                <!-- item 6 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Shop</p>
                </li>
                <!-- item 7 -->
                <li class="navbar__item">
                    <p class="navbar__item-title">Pages</p>
                    <img
                        src="./assets/img/icon/down_icon.svg"
                        alt=""
                        class="navbar__item-icon"
                    />
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__cart">
        <img
            src="./assets/img/icon/profile_icon.svg"
            alt=""
            class="header__cart-icon"
        />
        <div class="d-flex align-items-center">
            <img
                src="./assets/img/icon/love_icon.svg"
                alt=""
                class="header__cart-icon"
            />
            <p class="header__cart-text">(0)</p>
        </div>
        <div class="d-flex align-items-center">
            <img
                src="./assets/img/icon/cart_icon.svg"
                alt=""
                class="header__cart-icon"
            />
            <p class="header__cart-text">(0)</p>
        </div>
    </div>
</div>
