.banner {
    padding: 70px 0;
    background: var(--background-color-2);
    &__title {
        margin: 43px 0 20px;
        width: 470px;
        color: var(--Text-Color-2);
        font-family: "Roboto Slab";
        font-size: 5.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.172; /* 117.241% */
    }
    &__desc {
        width: 470px;
        color: var(--Text-Color-2);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67; /* 166.667% */
    }
    &__btn {
        background: var(--background-color-1);
        color: var(--text-color-1);
        margin: 34px 0 80px;
    }
    &__img {
        margin-left: -65px;
    }
}
.category {
    padding-top: 150px;
    &__title {
        margin-bottom: 70px;
        width: 470px;
        color: var(--Text-Color-2);
        font-family: "Roboto Slab";
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 1.24; /* 123.81% */
    }
    &__item {
        --bs-gutter-x: 3rem;
        --bs-gutter-y: 3rem;
        width: 270px;
        height: 258px;
        flex-shrink: 0;
        &-wrap {
            height: 210px;
            background: var(--background-color-2);
        }
        &-img {
            display: flex;
            margin: auto;
            padding-top: 30px;
            object-fit: cover;
        }
        &-title {
            margin-top: 18px;
            color: var(--Text-Color-2);
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 150% */
        }
    }
}
.popular,
.new,
.best-seller {
    padding-top: 150px;
    &__title {
        color: var(--Text-Color-2);
        font-family: "Roboto Slab";
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 1.24; /* 123.81% */
        margin-bottom: 18px;
    }
    &__desc {
        width: 470px;
        color: var(--text-color-4);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67; /* 166.667% */
        margin-bottom: 70px;
    }
    &__btn {
        width: 158px;
        height: 60px;
        margin-bottom: 70px;
    }
    &__item {
        &-img {
            width: 100%;
            margin-bottom: 20px;
        }
        &-desc {
            color: var(--text-color-4);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.72; /* 171.429% */
        }
        &-title {
            color: var(--Text-Color-2);
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5; /* 150% */
        }
        &-text {
            color: var(--text-color-4);
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
        }
        &-price {
            color: var(--Text-Color-2);
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.67; /* 166.667% */
        }
        &-btn {
            &__active {
                background-color: var(--background-color-1);
                color: var(--text-color-1);
            }
            margin-top: 28px;
            width: 100%;
        }
    }
    &__scroll {
        position: relative;
        width: 100%;
        height: 4px;
        background: var(--Shapes-Color-Yellow-Lighter);
        margin-top: 30px;
        &::after {
            content: "";
            width: calc(33% - 15px);
            height: 4px;
            background: var(--Text-Color-2);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
