* {
    --background-color-1: #005d63;
    --background-color-2: #f1deb4;
    --background-color-3: #fff;
    --border-color-1: #1e787d;

    --text-color-1: #fff;
    --Text-Color-2: #131717;
    --text-color-3: #005d63;
    --text-color-4: #566363;
    --background-color-yellow: #ffd44d;
    --Shapes-Color-Yellow-Lighter: #f1deb4;
}
